{% extends "base.html" %}

{% block main %}
<!-- Main Container -->
<main class="wrapper">
    <section class="description-block">
        <article>
            <h1>
                DATA SCIENCE <span>/</span> AI <span>/</span><br>
                INTERNET OF THINGS <span>/</span> <br>
                WEB <span>/</span> MUSIC <span>/</span> ANIMATION
            </h1>
        </article>
        <article>
            <h2>25 &mdash; 26 Oct. 2018 <em>@USIU-Africa</em></h2>
        </article>
    </section>

    <section class="purchase-block">
        <article>
            <h3>Be part of a tech movement</h3>
            <p>The first convention in Kenya bringing together techies,
                business people, startups, learning institutions, students
                and other organizations or individuals with an interest in
                the Python programming language and its ecosystem.</p>
        </article>
        <ol class="ticket-categories">
            {% for description, price, link in NAVITEMS %}
            <li>
                <h3>{{ description|replace('_',' ')|title }}</h3>
                <p class="price">KES {{ price }}</p>
                <a href="{{ link }}" class="button" target="_blank">Get Tickets</a>
            </li>
            {% endfor %}
        </ol>
    </section>
    <section class="topics">
        <h2 class="section-title">Themes</h2>
        <div class="content">
            <article>
                <h3>DATA SCIENCE &amp; AI</h3>
                <p>Data Science &amp; AI Stats crunching with Pandas &amp; co. and ML with tools like Tensorflow.
                    Come partake in some pythonic stats & AI (just don't let what you subsequently create become self
                    aware).</p>
            </article>
            <article>
                <h3>Internet of Things</h3>
                <p>Python in my IoT? It&rsquo;s more likely than you think! Featured at the conference will be talks and
                    presentations on (micro) python on assorted hardware with example applications.</p>
            </article>
            <article>
                <h3>Web, Music &amp; Animation</h3>
                <p>Pythonic web frameworks, scripting in animation with Blender and coding music in Py with sonicpi.
                    Plenty of talks and tutorials on these to get you started.</p>
            </article>
        </div>
    </section>
    <hr>
    <section class="sponsors">
        <h2 class="section-title">Sponsors</h2>
        <ul class="sponsor-grid">
            <li>
                <img src="{{ SITE_URL }}/theme/img/sponsors/jumo.svg" alt="Jumo Logo" />
            </li>
            <li>
                <img src="{{ SITE_URL }}/theme/img/sponsors/usiu.svg" alt="USIU Logo" />
            </li>
            <li>
                <img src="{{ SITE_URL }}/theme/img/sponsors/ona.svg" alt="Ona Logo" />
            </li>
            <li>
                <img src="{{ SITE_URL }}/theme/img/sponsors/intel.svg" alt="Intel Logo">
            </li>
            <li>
                <img src="{{ SITE_URL }}/theme/img/sponsors/africastalking.svg" alt="Africa's Talking Logo" />
            </li>
        </ul>
    </section>
    <section class="get-involved">
        <h2 class="section-title">Get Involved</h2>
        <ul class="get-involved-grid">
            <li>
                <div class="card-bottom">
                    <h3>Apply to <br>volunteer</h3>
                    <hr>
                    <p>Extra hands are always welcome!</p>
                </div>
            </li>
            <li>
                <div class="card-bottom">
                    <h3>Apply to <br>be a speaker</h3>
                    <hr>
                    <p>We are always looking out for people with fresh ideas</p>
                </div>
            </li>
            <li>
                <div class="card-bottom">
                    <h3>Submit a <br>proposal</h3>
                    <hr>
                    <p>We are always looking out for people with fresh ideas</p>
                </div>
            </li>
            <li>
                <div class="card-bottom">
                    <h3>Become a <br>sponsor</h3>
                    <hr>
                    <p>We are always looking out for people with fresh ideas</p>
                </div>
            </li>
        </ul>
    </section>
</main>
<!-- /Main Container -->
{% endblock main %}


{% block footerleft %}

{% endblock footerleft %}